@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Roboto+Condensed:wght@700&family=Roboto:wght@700&display=swap');
/* .bg-image{ 
     background-image: url("../img/waterfall2.jpg");
     height:75%;
     background-repeat: no-repeat;

} */

@media (min-width: 992px) {
     #SCarousel {
       margin-top: -58.59px;
     }
     #SCarousel,
     .carousel-inner,
     .carousel-item,
     .carousel-item.active {
       height: 50vh;
     }
   }

   .navbar .nav-link {
     color: rgb(83, 29, 184) !important;
   }
.contact-form{
     background: rgb(49, 45, 45);
     color: rgba(31, 21, 129, 0.603);
     margin-top: 100px;
     padding: 20px;
     box-shadow: 0px 0px 10px ;
}